/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #0185be;
    --primary-dark: #005c9b;
    --accent: #1abc9c;
  }
}

.bg-primaryDark {
  background-color: var(--primary-dark);
}

.bg-accent {
  background-color: var(--accent);
}

.text-primary {
  color: var(--primary);
}

.text-primaryDark {
  color: var(--primary-dark);
}

.text-accent {
  color: var(--accent);
}
